@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Audiowide", sans-serif;

}

.heartbeat-section {
    background-image: linear-gradient(to right, #030414, #351C39);
    min-height: 900px;
    display: flex;
    flex-direction: column;
    gap: 150px;

}

p,
a {
    font-family: "Inter", sans-serif;
}

.nav-bar {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid salmon; */
    padding: 10px 0px 10px 170px;
}

.left-nav {
    /* border: 2px solid red; */
    align-items: center;
    display: flex;
    color: #f6f0eb;
    gap: 5px;
}

.left-nav span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.right-nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
    gap: 41px;
    /* padding: 0px 200px; */
}

.right-nav a {
    color: #f6f0eb;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.right-nav a:nth-child(5) {
    /* border: 2px solid #A76C34; */
    font-weight: 400px;
    font-size: 14px;
    background-image: linear-gradient(to right, #174993, #892CAE);
    border-radius: 20px;
    position: relative;
    padding: 10px 40px 10px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #f6f0eb;
}

.right-nav a:nth-child(5)>img {
    /* border: 2px solid red; */
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.right-nav a:nth-child(6) {
    font-weight: 400px;
    font-size: 14px;
    background-color: none;
    text-decoration: none;
    font-size: 14px;
    color: #f6f0eb;
    border: 2px solid transparent;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    position: relative;
}

.right-nav a:nth-child(6)>img {
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.intro-section {
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid red; */
    gap: 222px;
    justify-content: center;
}

.text-wrapper {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
}

.intro-text {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    justify-content: center;
}

.intro-text h1 {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 600;
    width: 620px;
    height: 160px;
    /* border: 2px solid salmon; */
}

.intro-text p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    width: 521px;
    height: 40px;
    padding: 10px 0px;
    /* border: 2px solid saddlebrown; */
}

.intro-links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.intro-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.intro-links a:nth-child(1) {
    /* border: 2px solid #A76C34; */
    font-weight: 400px;
    font-size: 14px;
    background-image: linear-gradient(to right, #174993, #892CAE);
    border-radius: 20px;
    position: relative;
    padding: 10px 40px 10px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
}

.intro-links a:nth-child(1)>img {
    /* border: 2px solid red; */
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.intro-links a:nth-child(2) {
    font-weight: 400px;
    font-size: 14px;
    background-color: none;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    border: 2px solid linear-gradient(to left, #174993, #892CAE);
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    position: relative;
}

.intro-links a:nth-child(2)>img {
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.intro-img {
    /* border: 2px solid blue; */
    margin: 0;
}

/* Another */
.content {
    background-image: linear-gradient(to right, #351C39, #030414);
    min-height: 1300px;
}

.About-section {
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid red; */
    gap: 222px;
    justify-content: center;
}

.About-img {
    /* border: 2px solid blue; */
    margin: 0;
}

.text-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
}

.About-text {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    justify-content: center;
}

.About-text h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 400;
    /* border: 2px solid salmon; */
}

.About-text p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 0px;
    width: 521px;
    height: 40px;
    /* border: 2px solid saddlebrown; */
}

.About-links {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.About-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.About-links a:nth-child(1) {
    /* border: 2px solid #A76C34; */
    font-weight: 400px;
    font-size: 14px;
    background-image: linear-gradient(to right, #174993, #892CAE);
    border-radius: 20px;
    position: relative;
    padding: 10px 40px 10px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
}

.About-links a:nth-child(1)>img {
    /* border: 2px solid red; */
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.About-links a:nth-child(2) {
    font-weight: 400px;
    font-size: 14px;
    background-color: none;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    border: 2px solid linear-gradient(to left, #174993, #892CAE);
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    position: relative;
}

.About-links a:nth-child(2)>img {
    position: absolute;
    right: 10px;
    bottom: 8px;
}

/* Another */
.features-section {
    /* border: 2px solid red; */
    padding-bottom: 200px;
    /* display : flex;
    flex-direction: column; */
}

.features-text {
    /* border: 2px solid blue; */
    margin-left: 270px;
    margin-top: 60px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 220px; */
    /* display: flex;
    flex-direction: column; */
}

.features-text h2 {
    color: #FFFFFF;
    /* border: 2px solid brown; */
    width: 240px;
    padding-left: 60px;
}

.features-text p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    /* border: 2px solid saddlebrown; */
}

.features-container {
    /* border: 2px solid red; */
    position: relative;
    width: 1300px;
    /* display: flex;
    justify-content: center; */
    aspect-ratio: 16 / 10;
    /* margin: auto; */
    margin-left: 500px;
    overflow: hidden;
}

.card-bg {
    position: absolute;
    /* width: 42%; */
    left: 60px;
    top: 50px;
    z-index: 1;
    width: 800px;
    /* display: flex;
    object-fit: contain; */
}

.card {
    position: absolute;
    width: 250px;
    padding: 14px;
    color: #FFFFFF;
    background: #414141;
    border-radius: 14px;
    z-index: 2;
    /* box-sizing: border-box; */
}

.card h3 {
    margin: 0 0 8px;
    font-size: 16px;
}

.card p {
    margin: 0;
    font-size: 12px;
}

.card-1 {
    top: 80px;
    left: 200px;
}

.card-2 {
    top: 80px;
    right: 500px;
}

.card-3 {
    top: 290px;
    left: 30px;
}

.card-4 {
    top: 300px;
    right: 400px;
}

.card-5 {
    bottom: 150px;
    left: 190px;
}

.card-6 {
    bottom: 150px;
    right: 500px;
}